body {
    background-image: url("/images/echelon1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main-content {
    max-width: 1024px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    padding: 20px;
    margin: 20px auto;
}

.center {
    text-align: center;
}

.banner {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

.banner img {
    width: auto;
    max-height: 300px;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    font-weight: 600;
    text-shadow: 0px 0px 6px black;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.1em;
}

.inner-content {
    background-color: white;
    box-shadow: 0px 0px 10px white;
    padding-bottom: 10px;
}

form {
    margin-top: 10px;
}

.row {
    margin-bottom: 10px;
}

.question-group .form-group {
    text-align: right;
    border-bottom: 1px solid gray;
    padding: 5px;
}

ul.crw-sort {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    min-height: 50px;
}

ul.crw-sort li {
    margin: 5px;
    padding: 5px;
    cursor: move;
}

.yesno-radio {
    height: 2.5rem;
}

.sort-note {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
}

.num-canopy {
    width: 60px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bring-canopy {
    width: 90px;
}

#checkout {
    position: relative;
    background-color: #B09020;
    border-radius: 5px;
    width: 400px;
    font-size: 3em;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    cursor: pointer;
    user-select: none;
    transition: all 0.1s ease-in-out;
    top: 0px;
    left: 0px;
}

#checkout:hover {
    box-shadow: 1px 1px 20px gray;
    top: -1px;
    left:-1px;
}

#checkout:active {
    box-shadow: 0px 0px 10px gray;
    top: 0px;
    left: 0px;
}

.card {
    box-shadow: 0px 5px 10px #666;
}

.fill {
    width: 100%;
}

.font-underline {
    text-decoration: underline;
}